.app-body {
  background-color: #252830;
  margin-top: 90px;
}

h1.headline {
  color: #fff;
  margin-bottom: 30px;
  margin-left: 20px;
  display: block;
}

@media only screen and (max-width: 840px) {
  h1.headline {
    display: none;
  }
}
