<h1>You have {{ documents.length }} documents</h1>

<!-- Show list of documents -->
<div class="card-columns">
  <div class="card text-center" *ngFor="let doc of documents">
    <img class="card-img-top" src="{{ doc.image_url }}" width="100%">

    <div class="card-body">
      <h5 class="card-title">{{ doc.title }}</h5>
      <p class="card-text">{{ doc.description }}</p>

      <a href="{{ doc.file_url }}" class="btn btn-primary">Open file</a>
    </div>

    <div class="card-footer">
      <small class="text-muted">Last update at {{ doc.updated_at }}</small>
    </div>
  </div>
</div>
